# build artifacts (in-source builds)
build/
AppDir/
squashfs-root/
Makefile
Makefile.*
*.o
*.obj
*.AppImage
.qmake.stash
moc_*.cpp
moc_predefs.h
qrc_*.cpp
DoomRunnerSD

# Qt Creator / IDE
*.pro.user
*.pro.user*
